<h1 class="ms-5">找不到有關
  <span style="color:red;">{{keyword}}</span>
  的餐廳</h1>

<h2 class="ms-5">你可能會對以下餐廳有興趣 : </h2>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        <!-- 在這跑回圈顯示資料 -->
        {{#each restaurants}}
          <a href="/restaurants/{{this.id}}" class="text-secondary">
            <div class="card mb-3">
              <img
                class="card-img-top"
                src="{{this.image}}"
                alt="{{this.name}}"
              />
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i>
                  {{this.category}}
                </div>
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>